<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">

    <!-- public List<Printer> getCountTop10();-->
    <select id="getCountTop10" resultType="com.qc.printers.mapper.PrinterMapper">
        SELECT number_of_printed_pages, count( * ) AS count  FROM printer  GROUP BY number_of_printed_pages  ORDER BY count DESC  LIMIT 10
    </select>

</mapper>